@mixin linkUnderline(){
    &:hover, &:active, &:focus{
        text-decoration: underline;
    }
}

@mixin row{
    display: block;
    overflow: hidden;
    width: 100%;
}

$old-ie: false !default;

@mixin old-ie {
	// Only use this content if we're dealing with old IE
	@if $old-ie {
		@content;
	}
}